NEXT_PUBLIC_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_ORACLE_PROGRAM_ID=Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS
NEXT_PUBLIC_PERP_PROGRAM_ID=FaKa7Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg47602
